@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.bgcontainer {
  background-image: url("https://wallpaperaccess.com/full/1412206.jpg");
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}